body {
  background-color: #FCFCFC;
}

.blog-container {
  height: 900px;
  position: relative;
  /*top: 200px;*/
  /*how to change class when change in screen size*/
}

.blog-side {

}

.blog-main{
  /*background-color: #B2AFC1;*/
  position: relative;
}

.blog-main p {
  font-size: 23px;
  color: darkgray;
  /*font-weight: normal;*/
  font-family:'Roboto', sans-serif;
}

.blog-main p b{
  color: black;
}

.blog-index-link a{
    color:darkgray;
    margin: 10px;
}

p.classy {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 300;
}
b.classy {
  font-weight: 600;
}

.avatar{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.flat-list {
  list-style: none;
}

.flat-list li{
  display: inline;
  padding: 5px;
}


@media only screen and (max-width: 500px) {
    .blog-container{
      top: 0px;
    }
}



/*
 * Archives
 */

.archives-wrap {
  margin-bottom: 30px;
}

.archive-year-wrap a,
.archive-article .article-datetime a {
  color: #333;
  text-decoration: none;
}

.archive-article .article-datetime a {
  color: #999;
  text-decoration: none;
}
